<!-- {{ registrationForm.value | json }} -->
<form [formGroup]="registrationForm">
    <div class="form-group">
      <label for="name">Name* </label>
      <input
        type="text"
        placeholder="Enter your name"
        name="name"
        id="name"
        class="form-control"
        formControlName="name"
      />
      <div
        *ngIf="
          registrationForm.controls['name'].touched &&
          registrationForm.controls['name'].hasError('required')
        "
      >
        <span class="is-invalid">Name is required</span>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label for="">Phone Number* </label>
      <input
        type="number"
        placeholder="Enter your phone number"
        name="phno"
        id="phno"
        class="form-control"
        formControlName="phno"
      />
    </div>
    <div *ngIf="submitted &&
    registrationForm.controls['phno'].hasError('required')">Phone number is required</div>
    <div
      *ngIf="
        registrationForm.controls['phno'].dirty &&
        registrationForm.controls['phno'].invalid
      "
    >
      Mobile number should have 10 digits
    </div>
    <br />
    <div class="form-group">
      <label for="">Email Id* </label>
      <input
        type="text"
        placeholder="Enter your email"
        name="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
    </div>
    <div
    *ngIf="
    registrationForm.controls['email'].touched &&
    registrationForm.controls['email'].hasError('required')
  "
    >
    Email is required
  </div>
    <br />
    <div class="form-group">
      <label for="">Date of birth* </label>
      <input
        type="date"
        placeholder="Enter dob"
        name="dob"
        id="dob"
        class="form-control"
        formControlName="dob"
      />
    </div>
    <div
    *ngIf="
    registrationForm.controls['dob'].touched &&
    registrationForm.controls['dob'].hasError('required')
  "
    >
    Date of birth is required
  </div>
    <br />
    <div class="form-control">
      <label for="">Address</label>
      <textarea name="address" id="address" formControlName="address"></textarea>
    </div>
    <div
    *ngIf="
    registrationForm.controls['address'].touched &&
    registrationForm.controls['address'].hasError('required')
  "
    >
    Address is required
  </div>
    <br />
    <div class="form-control">
      <label for="">City*</label>
      <select name="city" id="city" formControlName="city">
        <option value="" disabled>Select City</option>
        <option *ngFor="let city of cities">{{city}}</option>
      </select>
    </div>
    <div
    *ngIf="
    registrationForm.controls['city'].touched &&
    registrationForm.controls['city'].hasError('required')
  "
    >
    City selection is required
  </div>
    <br />
    <div class="form-control">
      <label for="">Pincode</label>
      <input
        type="number"
        name="pincode"
        id="pincode"
        formControlName="pincode"
      />
    </div>
    <div
    *ngIf="
    registrationForm.controls['pincode'].touched &&
    registrationForm.controls['pincode'].hasError('required')
  "
    >
    Pincode is required
  </div>
  <br>
  <div class="form-group">
      <label for="">Password</label>
      <input type="password"
      class="form-control"
      formControlName="pwd">
  </div>
  <br>
  <div class="form-group">
      <label for="">Confirm Password</label>
      <input type="password"
      class="form-control"
      formControlName="confirmpwd">
      <div *ngIf="registrationForm.errors">
          <div *ngIf="registrationForm.errors['doNotMatch']">
              Passwords do not match
          </div>
      </div>
  </div>
  <br>
    <div class="form-group">
      <button type="button"
      >Submit</button>
    </div>
  </form>
  